{% extends "base.html" %}
{% load myfilters %}
{% block topnav %}
{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table>
        <tr class="form-group form-inline">
            <td>{{ form.username.label_tag }}: </td>
            <td>{{ form.username|addcss:'form-control' }}</td>
        </tr>
        <tr class="form-group form-inline">
            <td>{{ form.password.label_tag }}: </td>
            <td>{{ form.password|addcss:'form-control' }}</td>
        </tr>
        </table>
        <input type="submit" value="Войти" class="btn btn-success"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
{% block navigation %}
{% endblock %}